<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= user.pic %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country_id %>
  </p>

  <p>
    <strong>Musicalinstrument:</strong>
    <%= user.musicalinstrument_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city_id %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

</div>
